*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  line-height: 1.7; }

body {
  font-family: 'Poppins', Roboto, sans-serif; }

.btn:link {
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  padding: .9rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btn-grey {
  background-color: #eaeaea; }
  .btn-grey:hover {
    background-color: #cdd2d6; }

.composition {
  display: inline-block; }

.text {
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 3.5rem;
  color: #303133;
  letter-spacing: -0.02em;
  font-family: roboto; }

.feature-photo {
  width: 100%;
  display: inline-block; }

.container {
  padding-left: 2rem;
  margin-top: 2rem; }
  .container:last-child {
    padding-left: 2rem;
    margin-top: 1.5rem; }

.photo {
  display: table-cell;
  padding-right: 2rem; }

.entry-box {
  position: relative;
  width: 75%; }
  .entry-box__entry {
    margin-top: 10rem;
    text-align: left;
    position: absolute;
    padding: 2rem 0 2rem 2rem;
    display: inline-block; }

.time-entry {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  color: #fff; }

.photos-text {
  font-size: 2rem;
  display: block;
  font-weight: 700;
  color: #fff;
  margin-top: .9rem;
  letter-spacing: -0.02em; }

.pic {
  z-index: -100;
  width: 100%;
  border-radius: 2rem; }

.background-cover {
  height: auto;
  width: 45rem;
  background-image: url(../img/16-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2rem; }

.alert {
  height: 10rem;
  position: relative; }

.text-box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  background-color: #f7f7f7;
  color: #000;
  width: 100%;
  padding: 1.2rem 0;
  margin-top: 3rem; }

.heading-primary--main {
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #1aa47e; }

.heading-primary--sub-1 {
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 400; }

.header {
  height: 67rem;
  position: relative;
  background: linear-gradient(to right, #0de4a9 12%, #00d4e0 40%, #2859bb 80%);
  margin-top: 1rem; }
  .header__photo-box {
    position: absolute;
    top: 5rem;
    left: 26rem; }
  .header .photo {
    height: 55rem; }
  .header__desktop-details {
    position: absolute;
    display: block;
    top: 5rem;
    left: 80rem; }
  .header .para {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 8rem;
    font-weight: 600;
    margin-top: 10rem; }
  .header .para-1 {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: -2rem; }
  .header .para-2 {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 2.5rem; }
  .header .para-3 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: .5rem; }
  .header .para-4 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 2rem; }
    .header .para-4__icon {
      display: inline-block; }
