*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif; }

.row {
  display: table; }
  .row .col-1-of-2 {
    display: table-cell;
    width: 50%; }
  .row .col-2-of-2 {
    display: table-cell;
    width: 50%;
    vertical-align: middle; }
  .row .product__container {
    padding: 5rem;
    display: table; }
  .row .product__photo {
    display: table-cell;
    padding-right: 3rem; }
    .row .product__photo--device {
      height: 40rem;
      padding-left: 4rem;
      margin: 0 3.5rem; }
      .row .product__photo--device-amd {
        height: 28rem; }
      .row .product__photo--device-laptop {
        width: 30rem; }
      .row .product__photo--device-f131 {
        width: 23rem; }
  .row .details {
    vertical-align: top;
    display: table-cell;
    width: 33.5rem;
    padding-left: 2rem; }
    .row .details__heading {
      text-decoration: none;
      color: #404040;
      font-size: 3rem;
      font-weight: 700;
      font-family: inherit;
      line-height: 3.5rem;
      display: inline-block; }
      .row .details__heading--element {
        font-size: 3.5rem;
        font-family: inherit;
        text-decoration: none;
        font-weight: 700;
        color: #404040;
        padding-bottom: 2rem;
        display: inline-block; }
        .row .details__heading--element-lite {
          display: inline-block;
          background-color: #ff3399;
          padding: .1rem .8rem;
          color: #ffffff;
          font-family: inherit;
          text-decoration: none;
          font-weight: 800;
          border-radius: 1rem; }
      .row .details__heading:hover {
        color: #c92228; }
    .row .details__subtitle {
      margin: 1rem 0; }
    .row .details__pricing {
      margin: 1rem 0;
      font-size: 2.4rem; }
    .row .details__para {
      line-height: 2.2rem;
      font-size: 1.4rem; }
    .row .details__img {
      height: 10rem;
      padding: 2rem 0; }
    .row .details__img-amd {
      width: 24rem;
      margin: 2rem 0; }
    .row .details__finance {
      margin: 2rem 0;
      font-size: 1.5rem;
      text-decoration: none;
      color: #000;
      font-weight: 300; }
    .row .details__dash {
      border-bottom: 0.1rem solid #dddddd;
      margin-bottom: 3rem;
      width: 24rem; }
    .row .details__btn {
      border: none;
      border-radius: 10rem;
      padding: 1rem 2rem;
      font-family: inherit;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      text-align: center; }
      .row .details__btn--grey {
        background-color: #eaeaea;
        color: #464d54; }

.background-grey {
  background-color: #f7f7f7; }

.background-white {
  background-color: #ffffff; }

.footer__container {
  background-color: #000;
  height: 68rem;
  position: relative; }

.footer__table {
  position: absolute;
  left: 20rem;
  top: 15rem; }

.footer__col {
  display: inline-block; }

.footer__item {
  list-style: none;
  color: #ffffff;
  font-size: 1.4rem;
  width: 25rem; }
  .footer__item:first-child {
    margin-bottom: 3rem;
    color: #ffffff;
    font-size: 1.8rem; }

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem; }

.footer__about-container {
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  margin-top: 9rem; }
  .footer__about-container__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    display: block;
    padding: 1.5rem 0; }

.header {
  height: 67rem;
  position: relative;
  background: linear-gradient(to right, #0de4a9 12%, #00d4e0 40%, #2859bb 80%);
  margin-top: 1rem; }
  .header__photo-box {
    position: absolute;
    top: 5rem;
    left: 26rem; }
  .header .photo {
    height: 55rem; }
  .header__desktop-details {
    position: absolute;
    display: block;
    top: 5rem;
    left: 80rem; }
  .header .para {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 8rem;
    font-weight: 600;
    margin-top: 10rem; }
  .header .para-1 {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: -2rem; }
  .header .para-2 {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 2.5rem; }
  .header .para-3 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: .5rem; }
  .header .para-4 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 2rem; }
    .header .para-4__icon {
      display: inline-block; }
::selection {
  background-color: #c92228;
  color: #ffffff; }
