$color-green:#0bc895;
$color-blue:#3465c6;
$color-red: #c92228;
$color-light-grey:#f7f7f7;
$color-dark-grey:#eaeaea;
$color-pink: #ff3399;
$color-white: #ffffff;
$color-ship: #28a27a;
$color-black:#000;