.accessories{
    max-width: 148rem;
    // background-color: #eee;
    margin: 5rem auto;
    // margin: 6rem auto;
    // text-align: center;
    @include clearfix;

    &__item{
        width: calc((100%) /6);
        // background-color: red;
        float: left;
        &:not(:last-child){
            margin-right: 0;
        }
        // margin:0 4rem;
        text-align: center;
        font-size: 1.6rem;
        // display: inline-block;

    }
    
    &__image{
        width: 15rem;
    }
    
    &__head{
        font-weight: 500;
        
    }
    
    &__pricing{
        font-weight: 300;

    }

    &__link{
        color: $color-black;
        text-decoration: none;
        &:hover{
            color: $color-red-1;
        }
    }

}

