.alert {
    height: 10rem;
    position: relative;
}
.text-box {
        position: absolute;
        top: 15%;
        left: 50%; 
        transform: translate(-50%, -15%); 
        background-color: $color-light-grey;
        color: $color-black;
        width: 100%;
        padding: 1.2rem 0;
        margin-top: 3rem;
}
.heading-primary {

    &--main {
        text-align: center;
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: rgb(26, 164, 126);
    }

    &--sub-1 {
        text-align: center;
        display: block;
        font-size: 14px;
        font-weight: 400;
    }
}