.footer{
    background-color: $color-black;
    height: 64rem;
    background-color: $color-black;
    
    &__container{
        max-width: 119rem;
        margin: 0 auto;
        // padding-bottom: 6rem;
        padding: 15rem 5rem 0 5rem;
        // margin-bottom: $gutter-vertical;
     
        @include clearfix;
    
        .col-1-of-4{
            width: calc((100% - #{$gutter-horizontal}*3) /4);
            float: left;
            &:not(:nth-child(4)){
                margin-right: 6rem;
            }
        }

        
    }
    &__sub{
        position: relative;
        
    }

    &__subscribe{
        position: absolute;
        left:0rem;
        bottom: -10rem;
    }

    &__list{
        &--gap{
            list-style: none;
            font-size: 1.4rem;
            opacity: 0;
        }
    }

    &__item{
        &:first-child{
            margin-bottom: 3rem;
            font-size: 1.8rem;
        }

        list-style: none;
        font-size: 1.4rem;
        width: 25rem;
    }

    &__link{
        color: $color-white;
        text-decoration: none;
        font-size: 1.4rem;

        &:hover{
            color: $color-red-1;
        }
    }

    &__right-arr{
        position: absolute;
        right: 0;
        top:2rem;
        font-size: 1rem;
        display: inline-block;
    }

    &__about{
        position: relative;
        border-top: 1px solid $color-dark-grey-2 ;
        border-bottom: 1px solid $color-dark-grey-2;
        margin-top: 9rem;
        display: inline-block;
        width: 100%;
        
        &-link{
            text-decoration: none;
            color: $color-white;
            font-weight: 600;
            font-size: 1.3rem;
            letter-spacing: .1rem;
            display: block;
            padding: 1.5rem 0;
        }
    }

    &__email{
        background-color: $color-black;
        font-family: inherit;
        border: 1px solid $color-dark-grey-2;
        border-radius: .2rem;
        margin-top: 2rem;
        margin-bottom: .5rem;
        height: 3rem;
        color: $color-white;

        &::placeholder{
            color: $color-white;
            padding-left: .5rem;
        }
    }

    


    &__btn{
        background-color: $color-red-1;
        color: $color-white;
        padding: .6rem 1.3rem;
        border-radius: .4rem;
        border: none;
        font-weight: 700;
        cursor: pointer;
    }

    &__search{
        display: block;
        margin-bottom: 3rem;
        background-color: $color-black;
        font-family: inherit;
        border: 3px solid $color-dark-grey-2;
        width: 100%;
        height: 4.5rem;
        color: $color-white;
        border-radius: .2rem;
        // position: relative;

        &--icon{
            position: absolute;
            top:1.5rem;
            right: 1.1rem;
            font-size: 1.4rem;
        }
        
        &::placeholder{
            color: $color-white;
            padding-left: 1.5rem;
            font-size: 1.6rem;
        }
    }
    
    &__credit{
        width: 100%;
    }

    &__copyright{
        padding-top: 10rem;
    }


}

.noFloat {
    width: 100%;
    overflow: hidden; //If you get a scroll bar, try overflow: hidden;
    float: none;
}

.mag{
    position: relative;
}

// .col-4-of-4{
//     position: relative;
// }

// .pre-footer{
//     height: 10rem;
//     background-color: $color-white;
//     padding-bottom: ;
// }
