<<<<<<< HEAD
// .row1{
//     max-width: $grid-width
//     background-color: #eee;
=======
// .row {
//     max-width: 150rem; 
//     margin-bottom: 7rem;
>>>>>>> e67b53920aa595c1744f426f660a3b6e46548aea
//     margin: 0 auto;
//     margi

<<<<<<< HEAD
=======
//     // &:not(:last-child) {
//     //     margin-bottom: 8rem; 
//     // } 

//     @include clearfix;

//     [class^="col-"] {
//         background-color: darkgreen;
//         float: left;
//         margin: 0 auto; 
 
//         &:not(:last-child) {
//             margin-right: 7rem; 
            
        
//         }
//     }
// }
// .col-1-of-3 {
//     width: calc((100% - 2 * #{7rem}) / 3);
// }   
//     &:not(:last-child) {
//         margin-bottom: 8rem; 
//     }

//     [class^="col-"] {
//         float: right; 
 
//         // &:not(:last-child) {
//         //     margin-right: 6rem;
//         // }
        
//     }

//     .col-1-of-2 {
//         width: calc((100% - #{6rem}) / 2);
//     }
>>>>>>> e67b53920aa595c1744f426f660a3b6e46548aea
// }

.row-grid{
    // max-width: $grid-width;
    // background-color: #eee;
    // margin: 0 auto;

    // &:not(:last-child){
    //     margin-bottom: $gutter-vertical;
    // }

    // @include clearfix;

    // [class^="col-"] {
        // background-color: red;
        // float: left;
        // &:not(:last-child){
        //     margin-right: $gutter-horizontal;
        // }
    // }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) /2);
    }

    .col-1-of-3{
        width: calc((100% - #{$gutter-horizontal}*2) /3);
    }

    .col-1-of-4{
        width: calc((100% - #{$gutter-horizontal}*3) /4);
    }

    .col-1-of-6{
        width: calc((100% - #{$gutter-horizontal}*5) /6);
    }

}

