.alert {
    height: 15rem;
    position: relative;
}
.text-box {
        position: absolute;
        top: 65%;
        left: 50%;  
        transform: translate(-50%, -15%); 
        background-color: $color-light-grey-1;
        color: $color-black;
        width: 100%;
        padding: 1.2rem 0;
        // margin-top: 3rem;
}
.heading-primary {

    &--main {
        text-align: center;
        display: block;
        font-weight: 600;
        font-size: 18px;
        color: rgb(26, 164, 126); 
    }

    &--sub-1 {
        text-align: center;
        display: block;
        font-size: 14px;
        font-weight: 400;
    }
} 
.header {
    height: 67rem;
    position: relative;
    background: linear-gradient(to right , rgb(13, 228, 169) 12% , rgb(0, 212, 224) 40% , rgb(40, 89, 187) 80%); 
    margin-top: 1rem;

    &__photo-box {
        position: absolute;
        top: 5rem; 
        left: 26rem;
    }  
    .photo {
        height: 55rem;
    }

    &__desktop-details {
        position: absolute;
        display: block;
        top: 5rem;
        left: 80rem; 
    } 
    .para {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 8rem;
        font-weight: 600;
        margin-top: 10rem;
    } 
    .para-1 {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 2.9rem;
        font-weight: 600;
        margin-bottom: -2rem;
    } 
    .para-2 {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 2.9rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    .para-3 {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }  
    .para-4 {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem; 
        padding-bottom: 2rem;
    
        &__icon {
            display: inline-block;
        }
    }
}