
.feature-box {
    box-shadow: none;

}

.feature-photo {
    width: 100%;
    display:inline-block;
}
.container {
    padding-left: 2rem;
    margin-top: 2rem;

    &:last-child {
        padding-left: 2rem;
        margin-top: 1.5rem;
    }
}
.photo{
    display: table-cell;
    padding-right: 2rem;
}

.photos-text {
    display:block;
}
.pic {
    width: 100%; 
    border-radius: 2rem;
    
}
.t-entry {
    position: relative;
    padding-left: 2rem;
    left: 6rem;
    bottom: 0;
    transform: scale(1);

    display: block;
    width: 80%;
}
.time-entry {
    display: inline-block;
    width: 75%;
}